<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
    <body>
        <h1>Login</h1>
        <form action="#" th:action="@{/login}" method="post">
            <div style="color: red" th:if="${param.error}">
                Invalid username or password.</div>
            <div th:if="${param.logout}">
                You have been logged out.</div>
            <p> Username: <input type="text" name="username"/> </p>
            <p> Password: <input type="password" name="password"/> </p>
            <p><input type="submit" value="Login"/></p>
        </form>
        <a href="/registration">Registration</a>
    </body>
</html>